*.pyc
__pycache__
  
# Distribution / packaging
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

.idea
cmake-build-debug
obj
bin

ephemeris-compute
ephemeris-compute-de430
output

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

